.jxbrowser-data/
RemoteSystemsTempFiles/
.metadata/
multi_gesture_68xx_dss/Debug/
multi_gesture_68xx_mss/Debug/
multi_gesture_68xx_dss/dss/src/
multi_gesture_68xx_mss/mss/src/
multi_gesture_68xx_dss/.config/
